<form enctype="multipart/form-data" id="fileUploadForm">
    <input type="hidden" id="id" name="id" data-bind="value: id" />
    <input type="hidden" id="soortEntiteit" name="soortEntiteit" data-bind="value: soortEntiteit" />
    <div class="persoonsgegevens_links">
        <div class="form-group">
            <table class="table">
                <tr>
                    <th>Bijlage</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tbody data-bind="foreach: bijlages">
                <tr>
                    <td>
                        <span data-bind="text: omschrijvingOfBestandsNaam, attr:{id: 'tekst' + id()}, click: startEditModus"></span>

                        <div data-bind="attr:{id: 'edit' + id()}" style="display: none;">
                            <input type="text" data-bind="value: omschrijvingOfBestandsNaam"/>
                            <button data-bind="click: stopEditModus">Opslaan</button>
                            <button data-bind="click: stopEditModusAnnuleren">Annuleren</button>
                        </div>
                    </td>
                    <td><a data-bind="attr:{href: url}, title: omschrijvingOfBestandsNaam"
                           target="_blank">Download</a></td>
                    <td data-bind="click: $parent.verwijderBijlage" style="cursor:pointer;">Verwijderen</td>
                </tr>
                </tbody>
            </table>

            <div class="form-group" id="bijlage">
                <input type="file" id="bijlageFile" name="bijlageFile" data-bind="event: {change: nieuwePolisUpload}"/>
                <progress id="uploadprogress" style="display:none;"></progress>
            </div>
        </div>
    </div>
</form>