<br />
<br />
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Zoekopdracht..." id="zoekTerm">
        <button class="btn btn-default" type="button" id="zoeken">Zoek</button>
    </div>
  </div>
</div>
<ul>
	<li><div style="cursor:pointer;" onclick="document.location.hash='#lijstRelaties'">Lijst Relaties</div></li>
	<li><div style="cursor:pointer;" onclick="document.location.hash='#taken'">Taken (<span id="aantalOpenstaandeTaken"></span> openstaand)</div></li>
</ul>