<div class="logo-background">
    &nbsp;
    <div class="inloggen-main">
        <div class="inloggen-main-background">
            <div class="inloggen-main-wit">
                <div class="inloggen-main-header">
                    Symplex Login
                </div>
            </div>
        </div>
        <div class="inloggen-main-form">
            <div class="getbruikersnaam-wachtwoord">
                Gebruikernaam
            </div>
            <input type="text" onClick="this.select();" autocomplete="off"
                   data-bind="value: identificatie, attr: {class: onjuisteGebruikersnaam}, event: {keyup: resetfoutmeldingGebruikersnaam}"/>
            <div class="onjuiste-waarde-melding" data-bind="visible: onjuisteGebruikersnaam">
                De ingevoerde gebruikersnaam werd niet gevonden
            </div>
            <div class="getbruikersnaam-wachtwoord">
                Wachtwoord
            </div>
            <input type="password"
                   data-bind="value: wachtwoord, attr: {class: onjuistWachtwoord}, event: {keyup: resetfoutmeldingWachtwoord}"/><br/>
            <div class="onjuiste-waarde-melding" data-bind="visible: onjuistWachtwoord">
                Het ingevoerde wachtwoord is onjuist
            </div>
            <button data-bind="click: inloggen">Inloggen</button>
        </div>
    </div>
</div>