<div class="form-group">
    <strong>Rekeninggegevens</strong>&nbsp;<span class="glyphicon glyphicon-plus"
                                                 data-bind="click: rekeningnummerModel.voegRekeningToe"
                                                 id="voegRekeningToe"></span>
    <div id="rekeningnummers"
         data-bind="foreach: rekeningnummerModel.rekeningnummers, visible: rekeningnummerModel.rekeningnummers().length > 0">
        <div class="persoonsgegevens_details">
            <div id="rekeningnummer">
                <input class="form-control" type="hidden" id="rekeningid" name="rekeningid" data-bind="value: id"/>
                <div class="form-group">
                    <label for="rekeningnummernummer">Rekeningnummer</label>
                    <input class="form-control" type="text" id="rekeningnummernummer" name="rekeningnummernummer"
                           data-bind="value: rekeningnummer, event: {click: $parent.rekeningnummerModel.startBewerken, blur: $parent.rekeningnummerModel.stopBewerken}"
                           maxlength="18"/>
                </div>
                <div class="form-group">
                    <label for="bic">Bic</label>
                    <input class="form-control" type="text" id="bic" name="bic"
                           data-bind="value: bic, event: {blur: $parent.rekeningnummerModel.bicNaarUpperCase}"
                           maxlength="11"/>
                </div>
                <span class="glyphicon glyphicon-minus" data-bind="click: $parent.rekeningnummerModel.verwijderRekening"
                      id="verwijderRekening"></span>
            </div>
        </div>
    </div>
</div>
