<div class="form-group">
    <strong>Telefoongegevens</strong>
    &nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: telefoonnummersModel.voegTelefoonNummerToe"
                                                 id="voegTelefoonNummerToe"></span>
</div>
<div id="telefoonnummers"
     data-bind="foreach: telefoonnummersModel.telefoonnummers, visible: telefoonnummersModel.telefoonnummers().length > 0">
    <div class="persoonsgegevens_details">
        <div id="telefoonnummer">
            <input class="form-control" type="hidden" name="telefoonid" id="telefoonid" data-bind="value: id"/>

            <div class="form-group">
                <label for="telnummer">Telefoonnummer</label>
                <input class="form-control" type="text" id="telnummer" name="telnummer"
                       data-bind="value: telefoonnummer, event: {click: $parent.telefoonnummersModel.startBewerken, blur: $parent.telefoonnummersModel.stopBewerken}"
                       maxlength="10"/>
            </div>
            <div class="form-group">
                <label for="soorttelnummer">Soort</label>
                <select id="soorttelnummer" name="soorttelnummer" data-bind="value: soort">
                    <option value="MOBIEL">Mobiel</option>
                    <option value="VAST">Prive</option>
                    <option value="WERK">Zakelijk</option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefoonomschrijving">Omschrijving</label>
                    <textarea id="telefoonomschrijving" data-bind="value: omschrijving" class="form-control"
                              rows="3"></textarea>
            </div>
            <span class="glyphicon glyphicon-minus" id="verwijderTelefoonNummer"
                  data-bind="click: $parent.telefoonnummersModel.verwijderTelefoonNummer"></span>
        </div>
    </div>
</div>
