<h4>Schademeldingen</h4>
<form enctype="multipart/form-data" id="schadeMeldForm">
<div class="form-group">
	<label for="polisVoorSchademelding">Verzekering</label>
	<select id="polisVoorSchademelding" data-bind="value: polis">
		<option id="">Kies een polis uit de lijst..</option>
	</select>
</div>
<div class="form-group">
	<label for="schadeNummerMaatschappij">Schadenummer Maatschappij</label>
	<input class="form-control" type="text" id="schadeNummerMaatschappij" name="schadeNummerMaatschappij" data-bind="value: schadeNummerMaatschappij" />
</div>
<div class="form-group">
	<label for="schadeNummerTussenpersoon">Schadenummer Tussenpersoon</label>
	<input class="form-control" type="text" id="schadeNummerTussenpersoon" name="schadeNummerTussenpersoon" data-bind="value: schadeNummerTussenPersoon" />
</div>
<div class="form-group">
	<label for="soortSchade">Soort schade</label>
	<input class="form-control" type="text" id="soortSchade" name="soortSchade" data-bind="value: soortSchade" />
</div>
<div class="form-group">
	<label for="locatieSchade">Locatie schade</label>
	<input class="form-control" type="text" id="locatieSchade" name="locatieSchade" data-bind="value: locatie" />
</div>
<div class="form-group">
	<label for="statusSchade">Status schade</label>
	<select id="statusSchade" name="statusSchade" data-bind="value: statusSchade">
		<option id="0">Kies een status uit de lijst..</option>
	</select>
</div>
<div class="form-group">
	<label for="datumTijdSchade">Datum tijd schade</label>
	<input class="form-control" type="text" id="datumTijdSchade" name="datumTijdSchade" placeholder="dd-mm-eejj uu:mm" data-bind="value: datumTijdSchade, event: {blur: veranderDatumTijd(datumTijdSchade)}" />
</div>
<div class="form-group">
	<label for="datumTijdMelding">Datum tijd melding</label>
	<input class="form-control" type="text" id="datumTijdMelding" name="datumTijdMelding" placeholder="dd-mm-eejj uu:mm" data-bind="value: datumTijdMelding, event: {blur: veranderDatumTijd(datumTijdMelding)}" />
</div>
<div class="form-group">
	<label for="datumAfgehandeld">Datum afgehandeld</label>
	<input class="form-control" type="text" id="datumAfgehandeld" name="datumAfgehandeld" placeholder="dd-mm-eejj" data-bind="value: datumAfgehandeld, event: {blur: veranderDatum(datumAfgehandeld)}" />
</div>
<div class="form-group">
	<label for="eigenRisico">Eigen risico</label>
	<input class="form-control" type="text" id="eigenRisico" name="eigenRisico" data-bind="value: eigenRisico" />
</div>
<div class="form-group">
	<label for="omschrijving">Omschrijving</label>
	<textarea class="form-control" id="omschrijving" name="omschrijving" style="width:600px; height:200px;" data-bind="value: omschrijving"></textarea>
</div>
	<table class="table">
		<tr>
			<th>Bijlage</th>
			<!--th>Verwijderen</th-->
		</tr>
		<tbody data-bind="foreach: bijlages">
			<tr>
				<td><a data-bind="attr:{href: url}, title: bestandsNaam, text: bestandsNaam" target="_blank"></a></td>
				<!--td data-bind="click: $parent.verwijderBijlage" style="cursor:pointer;">X</td-->
			</tr>
		</tbody>
	</table>
<div class="form-group" id="uploadSchade1">
	<input type="file" id="uploadSchade1File" name="uploadSchade1File" onchange="nieuweSchadeUpload(1);" />
	<input type="text" id="uploadSchade1Omschrijving" name="uploadSchade1Omschrijving"/>
	<progress id="fileSchade1Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade2" style="display:none;">
	<input type="file" id="uploadSchade2File" name="uploadSchade2File" onchange="nieuweSchadeUpload(2);" />
	<input type="text" id="uploadSchade2Omschrijving" name="uploadSchade2Omschrijving"/>
	<progress id="fileSchade2Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade3" style="display:none;">
	<input type="file" id="uploadSchade3File" name="uploadSchade3File" onchange="nieuweSchadeUpload(3);" />
	<input type="text" id="uploadSchade3Omschrijving" name="uploadSchade3Omschrijving"/>
	<progress id="fileSchade3Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade4" style="display:none;">
	<input type="file" id="uploadSchade4File" name="uploadSchade4File" onchange="nieuweSchadeUpload(4);" />
	<input type="text" id="uploadSchade4Omschrijving" name="uploadSchade4Omschrijving"/>
	<progress id="fileSchade4Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade5" style="display:none;">
	<input type="file" id="uploadSchade5File" name="uploadSchade5File" onchange="nieuweSchadeUpload(5);" />
	<input type="text" id="uploadSchade5Omschrijving" name="uploadSchade5Omschrijving"/>
	<progress id="fileSchade5Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade6" style="display:none;">
	<input type="file" id="uploadSchade6File" name="uploadSchade6File" onchange="nieuweSchadeUpload(6);" />
	<input type="text" id="uploadSchade6Omschrijving" name="uploadSchade6Omschrijving"/>
	<progress id="fileSchade6Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade7" style="display:none;">
	<input type="file" id="uploadSchade7File" name="uploadSchade7File" onchange="nieuweSchadeUpload(7);" />
	<input type="text" id="uploadSchade7Omschrijving" name="uploadSchade7Omschrijving"/>
	<progress id="fileSchade7Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade8" style="display:none;">
	<input type="file" id="uploadSchade8File" name="uploadSchade8File" onchange="nieuweSchadeUpload(8);" />
	<input type="text" id="uploadSchade8Omschrijving" name="uploadSchade8Omschrijving"/>
	<progress id="fileSchade8Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade9" style="display:none;">
	<input type="file" id="uploadSchade9File" name="uploadSchade9File" onchange="nieuweSchadeUpload(9);" />
	<input type="text" id="uploadSchade9Omschrijving" name="uploadSchade9Omschrijving"/>
	<progress id="fileSchade9Progress" style="display:none;"></progress>
</div>
<div class="form-group" id="uploadSchade10" style="display:none;">
	<input type="file" id="uploadSchade10File" name="uploadSchade10File" onchange="nieuweSchadeUpload(10);" />
	<input type="text" id="uploadSchade10Omschrijving" name="uploadSchade10Omschrijving"/>
	<progress id="fileSchade10Progress" style="display:none;"></progress>
</div>
<input type="hidden" id="hoeveelFiles" />
<script>
	function nieuweSchadeUpload(nummer){
		$('#hoeveelFiles').val(nummer);
		$('#uploadSchade' + ++nummer).show();
	}
</script>
</form>
<div class="form-group">
	<label for="schadeMeldingOpslaan">&nbsp;</label>
	<button class="btn btn-primary" id="schadeMeldingOpslaan" data-bind="click: opslaan">Opslaan</button>
</div>