<h2>IB Aangifte</h2>
<div id="bedrijven" data-bind="foreach: aangiftes, visible: aangiftes().length > 0">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4">
					<a data-toggle="collapse" data-parent="#accordion" data-bind="attr:{href: idDivLink}, text: jaar" name="jaar"></a>
					&nbsp;&nbsp;&nbsp;
					<div class="btn-group">
					</div>
				</h4>
			</div>
			<form enctype="multipart/form-data" id="aangifteForm">
				<div data-bind="attr:{id: idDiv}" class="panel-collapse collapse">
					<input type="hidden" id="aangifteId" name="aangifteId" data-bind="value: id" />
					<div class="form-group">
						<label for="uitstelTot">Uitstel tot</label>
						<input type="text" id="uitstelTot" name="uitstelTot" data-bind="value: uitstelTot" />
					</div>
					<div class="form-group" id="uploadAangifte1">
						<input type="file" id="uploadAangifte1File" name="uploadAangifte1File" onchange="nieuweAangifteUpload(1);" />
						<input type="text" id="uploadAangifte1Omschrijving" name="uploadAangifte1Omschrijving"/>
						<progress id="fileAangifte1Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte2" style="display:none;">
						<input type="file" id="uploadAangifte2File" name="uploadAangifte2File" onchange="nieuweAangifteUpload(2);" />
						<input type="text" id="uploadAangifte2Omschrijving" name="uploadAangifte2Omschrijving"/>
						<progress id="fileAangifte2Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte3" style="display:none;">
						<input type="file" id="uploadAangifte3File" name="uploadAangifte3File" onchange="nieuweAangifteUpload(3);" />
						<input type="text" id="uploadAangifte3Omschrijving" name="uploadAangifte3Omschrijving"/>
						<progress id="fileAangifte3Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte4" style="display:none;">
						<input type="file" id="uploadAangifte4File" name="uploadAangifte4File" onchange="nieuweAangifteUpload(4);" />
						<input type="text" id="uploadAangifte4Omschrijving" name="uploadAangifte4Omschrijving"/>
						<progress id="fileAangifte4Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte5" style="display:none;">
						<input type="file" id="uploadAangifte5File" name="uploadAangifte5File" onchange="nieuweAangifteUpload(5);" />
						<input type="text" id="uploadAangifte5Omschrijving" name="uploadAangifte5Omschrijving"/>
						<progress id="fileAangifte5Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte6" style="display:none;">
						<input type="file" id="uploadAangifte6File" name="uploadAangifte6File" onchange="nieuweAangifteUpload(6);" />
						<input type="text" id="uploadAangifte6Omschrijving" name="uploadAangifte6Omschrijving"/>
						<progress id="fileAangifte6Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte7" style="display:none;">
						<input type="file" id="uploadAangifte7File" name="uploadAangifte7File" onchange="nieuweAangifteUpload(7);" />
						<input type="text" id="uploadAangifte7Omschrijving" name="uploadAangifte7Omschrijving"/>
						<progress id="fileAangifte7Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte8" style="display:none;">
						<input type="file" id="uploadAangifte8File" name="uploadAangifte8File" onchange="nieuweAangifteUpload(8);" />
						<input type="text" id="uploadAangifte8Omschrijving" name="uploadAangifte8Omschrijving"/>
						<progress id="fileAangifte8Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte9" style="display:none;">
						<input type="file" id="uploadAangifte9File" name="uploadAangifte9File" onchange="nieuweAangifteUpload(9);" />
						<input type="text" id="uploadAangifte9Omschrijving" name="uploadAangifte9Omschrijving"/>
						<progress id="fileAangifte9Progress" style="display:none;"></progress>
					</div>
					<div class="form-group" id="uploadAangifte10" style="display:none;">
						<input type="file" id="uploadAangifte10File" name="uploadAangifte10File" onchange="nieuweAangifteUpload(10);" />
						<input type="text" id="uploadAangifte10Omschrijving" name="uploadAangifte10Omschrijving"/>
						<progress id="fileAangifte10Progress" style="display:none;"></progress>
					</div>
				</form>
				<div id="bijlages2" class="bijlages" data-bind="foreach: bijlages, visible: bijlages().length > 0">
					<div>
						<span class="polisLabel">Bijlage :</span>
						<a data-bind="attr:{href: url}, title: bestandsNaam, text: bestandsNaam" target="_blank"></a>
					</div>
				</div>
				<input type="hidden" id="hoeveelFiles" />
				<script>
					function nieuweAangifteUpload(nummer){
						$('#hoeveelFiles').val(nummer);
						$('#uploadAangifte' + ++nummer).show();
					}
				</script>
				<button id="opslaan" class="btn btn-primary" data-bind="click: opslaan">Opslaan</button>
				<button id="opslaan" class="btn btn-success"" data-bind="click: afronden">Afronden</button>
			</div>
		</div>
	</div>
</div>