<!--<h3>Openstaande Taken bij Relatie</h3>-->
<!--<table>-->
<!--<thead>-->
<!--<th>Soort taak</th>-->
<!--<th>Datum creatie</th>-->
<!--<th>Status</th>-->
<!--</thead>-->
<!--<tbody data-bind="foreach: openstaandeTaken, visible: openstaandeTaken().length > 0">-->
<!--<td class="takenKolomEersteKolom"><a data-bind="click: $parent.naarTaak, text: soortTaak" /></td>-->
<!--<td class="takenKolomTweedeKolom"><a data-bind="click: $parent.naarTaak, text: datumTijdCreatie" /></td>-->
<!--<td class="takenKolomDerdeKolom"><a data-bind="click: $parent.naarTaak, text: status" /></td>-->
<!--</tbody>-->
<!--</table>-->

<div class="persoonsgegevens_links">
	<h3>Persoonsgegevens</h3>

	<div class="form-group">
		<label for="voornaam">Voornamen</label>
        <input class="form-control" type="text" id="voornaam" name="voornaam" data-bind="value: relatie.voornaam"/>
	</div>
	<div class="form-group">
		<label for="roepnaam">Roepnaam</label>
        <input class="form-control" type="text" id="roepnaam" name="roepnaam" data-bind="value: relatie.roepnaam"/>
	</div>
	<div class="form-group">
		<label for="tussenvoegsel">Tussenvoegsel</label>
        <input class="form-control" type="text" id="tussenvoegsel" name="tussenvoegsel"
               data-bind="value: relatie.tussenvoegsel"/>
	</div>
	<div class="form-group">
		<label for="achternaam">Achternaam</label>
        <input class="form-control" type="text" id="achternaam" name="achternaam"
               data-bind="value: relatie.achternaam"/>
	</div>
	<div class="form-group">
		<label for="bsn">Bsn</label>
        <input class="form-control" type="text" id="bsn" name="bsn" data-bind="value: relatie.bsn" maxlength="9"/>
	</div>
	<div class="form-group">
		<label for="geboorteDatum">Geboortedatum</label>
        <input class="form-control" type="text" id="geboorteDatum" name="geboorteDatum"
               data-bind="value: relatie.geboorteDatum, event: {blur: veranderDatum(relatie.geboorteDatum)}"/>
	</div>
	<div class="form-group">
		<label for="overlijdensdatum">Overlijdensdatum</label>
        <input class="form-control" type="text" id="overlijdensdatum" name="overlijdensdatum"
               data-bind="value: relatie.overlijdensdatum, event: {blur: veranderDatum(relatie.overlijdensdatum)}"/>
	</div>
	<div class="form-group">
		<label for="geslacht">Geslacht</label>
        <select id="geslacht" id="geslacht" name="geslacht" data-bind="value: relatie.geslacht">
			<option value="Man">Man</option>
			<option value="Vrouw">Vrouw</option>
		</select>
	</div>
	<div class="form-group">
		<label for="burgerlijkeStaat">Burgerlijke staat</label>
        <select id="burgerlijkeStaat" name="burgerlijkeStaat" data-bind="value: relatie.burgerlijkeStaat">
			<option value="Ongehuwd">Ongehuwd</option>
			<option value="Gehuwd GVG">Gehuwd GVG</option>
			<option value="Gehuwd HV">Gehuwd HV</option>
			<option value="Thuiswonend">Thuiswonend</option>
			<option value="Samenwonend">Samenwonend</option>
			<option value="Samenlevingscontract">Samenlevingscontract</option>
			<option value="Weduwe/Weduwnaar">Weduwe/Weduwnaar</option>
		</select>
	</div>
    <div class="form-group">
        <label for="emailadres">E-mailadres</label>
        <input class="form-control" type="text" id="emailadres" name="emailadres"
               data-bind="value: relatie.identificatie"/>
    </div>
    <div class="form-group">
        <label>&nbsp;</label>
        <a href="mailto:" data-bind="attr: {href: 'mailto:' + relatie.identificatie()}, text: relatie.identificatie"
           id="mailtolink"></a>
    </div>
</div>

<div class="persoonsgegevens_rechts">
    <div id="adressen"></div>
</div>

<div class="persoonsgegevens_links">
    <div id="rekeningnummers"></div>
</div>

<div class="persoonsgegevens_rechts">
    <div id="telefoonnummers"></div>
</div>

<div class="persoonsgegevens_links">
    <div id="bijlages"></div>
</div>

<div class="persoonsgegevens_rechts">
    <div class="persoonsgegevens_details">
        <div id="opmerkingen"></div>
    </div>
</div>

<div class="persoonsgegevens_links">
    <div id="taken"></div>
</div>

<div class="persoonsgegevens_rechts">
    <div id="telefonie"></div>
</div>

<div class="persoonsgegevens_links">
    <span class="glyphicon glyphicon-plus" data-bind="click: voegRelatieToe"></span>
    <table>
        <thead>
            <th>Naam Relatie</th>
            <th>Soort Relatie</th>
        </thead>
        <tbody data-bind="foreach: onderlingeRelaties, visible: onderlingeRelaties().length > 0">
            <tr>
                <td class="user-box-name" data-bind="text: relatieMet, click: navigeerNaar" style="cursor:pointer;"></td>
                <td data-bind="text: soortRelatie, click: navigeerNaar" style="cursor:pointer;"></td>
            </tr>
        </tbody>
    </table>
    <div id="onderlingeRelatieDialog" title="Zoek een relatie" style="display: none; ">
        <span class="validationMessage" style="display:none;" id="foutmeldingGeenSoortRelatie">Kies een Soort Relatie uit de lijst</span>
        <input class="form-control" type="text" id="zoekRelatie" data-bind="value: zoekTerm" />
        <button class="btn btn-default" type="button" id="zoeken" data-bind="click: zoekRelaties">Zoek</button>
        <select id="soortRelatie" >
            <option value="">Selecteer een optie...</option>
            <option value="O">Ouder</option>
            <option value="K">Kind</option>
            <option value="W">Werknemer</option>
            <option value="WG">Werkgever</option>
        </select>
        <table class="table">
            <tr>
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Geboortedatum</th>
                <th>Adres</th>
            </tr>
            <tbody data-bind="foreach: lijst">
            <tr>
                <td data-bind="text : voornaam, click: $parent.opslaanOnderlingeRelatie" name="voornaam" style="cursor:pointer;"></td>
                <td data-bind="text : tussenvoegsel, click: $parent.opslaanOnderlingeRelatie" name="tussenvoegsel" style="cursor:pointer;"></td>
                <td data-bind="text : achternaam, click: $parent.opslaanOnderlingeRelatie" name="achternaam" style="cursor:pointer;"></td>
                <td data-bind="text : geboorteDatum, click: $parent.opslaanOnderlingeRelatie" name="geboortedatum" style="cursor:pointer;"></td>
                <td data-bind="text : adresOpgemaakt, click: $parent.opslaanOnderlingeRelatie" name="adres" style="cursor:pointer;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<button id="opslaanRelatie" class="btn btn-primary" data-bind="click: opslaan">Opslaan</button>
<button type="button" class="btn btn-warning" data-bind="click: annuleren">Annuleren</button>
<button  id="verwijderen" class="btn btn-danger" data-bind="click: verwijderenRelatie">Verwijderen</button>