<h3>Openstaande Taken bij Relatie</h3>
<table>
    <thead>
        <th>Soort taak</th>
        <th>Datum creatie</th>
        <th>Status</th>
    </thead>
    <tbody data-bind="foreach: openstaandeTaken, visible: openstaandeTaken().length > 0">
        <td class="takenKolomEersteKolom"><a data-bind="click: $parent.naarTaak, text: soortTaak" /></td>
        <td class="takenKolomTweedeKolom"><a data-bind="click: $parent.naarTaak, text: datumTijdCreatie" /></td>
        <td class="takenKolomDerdeKolom"><a data-bind="click: $parent.naarTaak, text: status" /></td>
    </tbody>
</table>

<div class="persoonsgegevens_links">
	<h3>Persoonsgegevens</h3>

	<div class="form-group">
		<label for="voornaam">Voornamen</label>
		<input class="form-control" type="text" id="voornaam" name="voornaam" data-bind="value: voornaam" />
	</div>
	<div class="form-group">
		<label for="roepnaam">Roepnaam</label>
		<input class="form-control" type="text" id="roepnaam" name="roepnaam" data-bind="value: roepnaam" />
	</div>
	<div class="form-group">
		<label for="tussenvoegsel">Tussenvoegsel</label>
		<input class="form-control" type="text" id="tussenvoegsel" name="tussenvoegsel" data-bind="value: tussenvoegsel" />
	</div>
	<div class="form-group">
		<label for="achternaam">Achternaam</label>
		<input class="form-control" type="text" id="achternaam" name="achternaam"data-bind="value: achternaam"  />
	</div>
	<div class="form-group">
		<label for="bsn">Bsn</label>
        <input class="form-control" type="text" id="bsn" name="bsn" data-bind="value: bsn" maxlength="9"/>
	</div>
	<div class="form-group">
		<label for="geboorteDatum">Geboortedatum</label>
		<input class="form-control" type="text" id="geboorteDatum" name="geboorteDatum" data-bind="value: geboorteDatum, event: {blur: veranderDatum(geboorteDatum)}" />
	</div>
	<div class="form-group">
		<label for="overlijdensdatum">Overlijdensdatum</label>
		<input class="form-control" type="text" id="overlijdensdatum" name="overlijdensdatum" data-bind="value: overlijdensdatum, event: {blur: veranderDatum(overlijdensdatum)}" />
	</div>
	<div class="form-group">
		<label for="geslacht">Geslacht</label>
		<select id="geslacht" id="geslacht" name="geslacht" data-bind="value: geslacht">
			<option value="Man">Man</option>
			<option value="Vrouw">Vrouw</option>
		</select>
	</div>
	<div class="form-group">
		<label for="burgerlijkeStaat">Burgerlijke staat</label>
		<select id="burgerlijkeStaat" name="burgerlijkeStaat" data-bind="value: burgerlijkeStaat">
			<option value="Ongehuwd">Ongehuwd</option>
			<option value="Gehuwd GVG">Gehuwd GVG</option>
			<option value="Gehuwd HV">Gehuwd HV</option>
			<option value="Thuiswonend">Thuiswonend</option>
			<option value="Samenwonend">Samenwonend</option>
			<option value="Samenlevingscontract">Samenlevingscontract</option>
			<option value="Weduwe/Weduwnaar">Weduwe/Weduwnaar</option>
		</select>
	</div>
    <div class="form-group">
        <label for="emailadres">E-mailadres</label>
        <input class="form-control" type="text" id="emailadres" name="emailadres" data-bind="value: identificatie" />
    </div>
    <div class="form-group">
        <label>&nbsp;</label>
        <a href="mailto:" data-bind="attr: {href: 'mailto:' + identificatie()}, text: identificatie"
           id="mailtolink"></a>
    </div>
</div>

<div class="persoonsgegevens_rechts">
    <div class="form-group">
        <h3>
            Adresgegevens
        </h3>
        &nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: voegAdresToe" id="voegAdresToe"></span>
    </div>
    <div id="adressen" data-bind="foreach: adressen, visible: adressen().length > 0">
        <div class="persoonsgegevens_details">
            <div class="form-group">
                <label for="soortadres">Soort</label>
                <select id="soortadres" name="soortadres" data-bind="value: soortAdres">
                    <option value="WOONADRES">Woonadres</option>
                    <option value="POSTADRES">Postadres</option>
                    <option value="RISICOADRES">Risicoadres</option>
                    <option value="FACTUURADRES">Factuuradres</option>
                </select>
            </div>
            &nbsp;<span class="glyphicon glyphicon-minus" data-bind="click: $parent.verwijderAdres"
                        id="verwijderAdres"></span>

            <div class="form-group">
                <label for="postcode">Postcode</label>
                <input class="form-control" type="text" id="postcode" name="postcode"
                       data-bind="value: postcode, event: {blur: $parent.opzoekenAdres}" maxlength="6"/>
            </div>
            <div class="form-group">
                <label for="huisnummer">Huisnummer</label>
                <input class="form-control" type="text" id="huisnummer" name="huisnummer"
                       data-bind="value: huisnummer, event: {blur: $parent.opzoekenAdres}"/>
            </div>
            <div class="form-group">
                <label for="toevoeging">Toevoeging</label>
                <input class="form-control" type="text" id="toevoeging" name="toevoeging" data-bind="value: toevoeging"/>
            </div>
            <div class="form-group">
                <label for="straat">Straat</label>
                <input class="form-control" type="text" id="straat" name="straat" data-bind="value: straat"/>
            </div>
            <div class="form-group">
                <label for="plaats">Plaats</label>
                <input class="form-control" type="text" id="plaats" name="plaats" data-bind="value: plaats"/>
            </div>
        </div>
    </div>
</div>

<div class="persoonsgegevens_links">
    <div class="form-group">
        <strong>Rekeninggegevens</strong>&nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: voegRekeningToe" id="voegRekeningToe"></span>
        <div id="rekeningnummers" data-bind="foreach: rekeningnummers, visible: rekeningnummers().length > 0">
            <div class="persoonsgegevens_details">
                <div id="rekeningnummer">
                    <input class="form-control" type="hidden" id="rekeningid" name="rekeningid" data-bind="value: id" />
                    <div class="form-group">
                        <label for="rekeningnummernummer">Rekeningnummer</label>
                        <input class="form-control" type="text" id="rekeningnummernummer" name="rekeningnummernummer"
                               data-bind="value: rekeningnummer, event: {click: startBewerken, blur: stopBewerken}"
                               maxlength="18"/>
                    </div>
                    <div class="form-group">
                        <label for="bic">Bic</label>
                        <input class="form-control" type="text" id="bic" name="bic"
                               data-bind="value: bic, event: {blur: bicNaarUpperCase}" maxlength="11"/>
                    </div>
                    <span class="glyphicon glyphicon-minus" data-bind="click: $parent.verwijderRekening"
                          id="verwijderRekening"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="persoonsgegevens_rechts">
    <div class="form-group">
        <strong>Telefoongegevens</strong>&nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: voegTelefoonNummerToe" id="voegTelefoonNummerToe"></span>
    </div>
    <div id="telefoonnummers" data-bind="foreach: telefoonnummers, visible: telefoonnummers().length > 0">
        <div class="persoonsgegevens_details">
            <div id="telefoonnummer">
                <input class="form-control" type="hidden" name="telefoonid" id="telefoonid" data-bind="value: id" />
                <div class="form-group">
                    <label for="telnummer">Telefoonnummer</label>
                    <input class="form-control" type="text" id="telnummer" name="telnummer"
                           data-bind="value: telefoonnummer, event: {click: startBewerken, blur: stopBewerken}"
                           maxlength="10"/>
                </div>
                <div class="form-group">
                    <label for="soorttelnummer">Soort</label>
                    <select id="soorttelnummer" name="soorttelnummer" id="soorttelnummer" data-bind="value: soort">
                        <option value="MOBIEL">Mobiel</option>
                        <option value="VAST">Prive</option>
                        <option value="WERK">Zakelijk</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefoonomschrijving">Omschrijving</label>
                    <textarea id="telefoonomschrijving" data-bind="value: omschrijving" class="form-control"
                              rows="3"></textarea>
                </div>
                <span class="glyphicon glyphicon-minus" data-bind="click: $parent.verwijderTelefoonNummer"
                      id="verwijderTelefoonNummer"></span>
            </div>
        </div>
    </div>
</div>

<div class="persoonsgegevens_links">
    <div id="fileUpload"></div>
</div>

<div class="persoonsgegevens_rechts">
    <div class="persoonsgegevens_details">
        <div id="opmerkingen"></div>
    </div>
</div>

<div class="persoonsgegevens_links">
    <span class="glyphicon glyphicon-plus" data-bind="click: voegRelatieToe"></span>
    <table>
        <thead>
            <th>Naam Relatie</th>
            <th>Soort Relatie</th>
        </thead>
        <tbody data-bind="foreach: onderlingeRelaties, visible: onderlingeRelaties().length > 0">
            <tr>
                <td class="user-box-name" data-bind="text: relatieMet, click: navigeerNaar" style="cursor:pointer;"></td>
                <td data-bind="text: soortRelatie, click: navigeerNaar" style="cursor:pointer;"></td>
            </tr>
        </tbody>
    </table>
    <div id="onderlingeRelatieDialog" title="Zoek een relatie" style="display: none; ">
        <span class="validationMessage" style="display:none;" id="foutmeldingGeenSoortRelatie">Kies een Soort Relatie uit de lijst</span>
        <input class="form-control" type="text" id="zoekRelatie" data-bind="value: zoekTerm" />
        <button class="btn btn-default" type="button" id="zoeken" data-bind="click: zoekRelaties">Zoek</button>
        <select id="soortRelatie" >
            <option value="">Selecteer een optie...</option>
            <option value="O">Ouder</option>
            <option value="K">Kind</option>
            <option value="W">Werknemer</option>
            <option value="WG">Werkgever</option>
        </select>
        <table class="table">
            <tr>
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Geboortedatum</th>
                <th>Adres</th>
            </tr>
            <tbody data-bind="foreach: lijst">
            <tr>
                <td data-bind="text : voornaam, click: $parent.opslaanOnderlingeRelatie" name="voornaam" style="cursor:pointer;"></td>
                <td data-bind="text : tussenvoegsel, click: $parent.opslaanOnderlingeRelatie" name="tussenvoegsel" style="cursor:pointer;"></td>
                <td data-bind="text : achternaam, click: $parent.opslaanOnderlingeRelatie" name="achternaam" style="cursor:pointer;"></td>
                <td data-bind="text : geboorteDatum, click: $parent.opslaanOnderlingeRelatie" name="geboortedatum" style="cursor:pointer;"></td>
                <td data-bind="text : adresOpgemaakt, click: $parent.opslaanOnderlingeRelatie" name="adres" style="cursor:pointer;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<button id="opslaanRelatie" class="btn btn-primary" data-bind="click: opslaan">Opslaan</button>
<button type="button" class="btn btn-warning" data-bind="click: annuleren">Annuleren</button>
<button  id="verwijderen" class="btn btn-danger" data-bind="click: verwijderenRelatie">Verwijderen</button>