<h2>Bedrijf toevoegen</h2>
<div class="form-group">
	<label for="naam">Naam</label>
	<input class="form-control" type="text" id="naam" placeholder="Naam..." data-bind="value: naam" />
</div>
<div class="form-group">
	<label for="kvk">Kvk</label>
	<input class="form-control" type="text" id="kvk" placeholder="Kvk..." data-bind="value: kvk" maxlength="8" />
</div>
<div class="form-group">
	<label for="straat">Straat</label>
	<input class="form-control" type="text" id="straat" placeholder="Straat..." data-bind="value: straat" />
</div>
<div class="form-group">
	<label for="huisnummer">Huisnummer</label>
	<input class="form-control" type="text" id="huisnummer" placeholder="Huisnummer..." data-bind="value: huisnummer" />
</div>
<div class="form-group">
	<label for="toevoeging">Toevoeging</label>
	<input class="form-control" type="text" id="toevoeging" placeholder="Toevoeging..." data-bind="value: toevoeging" />
</div>
<div class="form-group">
	<label for="postcode">Postcode</label>
	<input class="form-control" type="text" id="postcode" placeholder="Postcode..." data-bind="value: postcode" />
</div>
<div class="form-group">
	<label for="plaats">Plaats</label>
	<input class="form-control" type="text" id="plaats" placeholder="Plaats..." data-bind="value: plaats" />
</div>
<hr />

<div id="opmerkingen"></div>

<hr />

<div class="form-group">
	<label for="opslaanBedrijf">&nbsp;</label>
	<button id="opslaanBedrijf" class="btn btn-primary" data-bind="click: opslaan">Opslaan</button>
	<button type="button" class="btn btn-warning" data-bind="click: annuleren">Annuleren</button>
</div>