<ul class="nav nav-tabs" role="tablist">
	<li><div class="navdiv" id="beherenRelatie">Relatie Gegevens</div></li>

	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bedrijven<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="bedrijven">Overzicht</div></li>
			<li><div class="navdiv" id="bedrijf">Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Polissen<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="polissen">Overzicht</div></li>
			<li><div class="navdiv" id="polis">Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Schades<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="schades">Overzicht</div></li>
			<li><div class="navdiv" id="schade">Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hypotheken<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="hypotheken">Overzicht</div></li>
			<li><div class="navdiv" id="hypotheek">Toevoegen</div></li>
		</ul>
	</li>
	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Algemeen belastingzaken<span class="caret"></span></a>
		<ul class="dropdown-menu" role="menu">
			<li><div class="navdiv" id="aangiftes">Overzicht</div></li>
			<li><div class="navdiv" id="aangifte">Toevoegen</div></li>
		</ul>
	</li>
	<!--li><div class="navdiv" id="bijlages">Overzicht Bijlages</div></li-->
</ul>
<!--
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
-->
<input type="hidden" id="id" name="id" data-bind="value: id" />

<div id="details">details</div>

