<div class="persoonsgegevens_links">
	<h3>Persoonsgegevens</h3>

	<div class="form-group">
		<label for="voornaam">Voornamen</label>
		<input class="form-control" type="text" id="voornaam" name="voornaam" data-bind="value: voornaam" />
	</div>
	<div class="form-group">
		<label for="roepnaam">Roepnaam</label>
		<input class="form-control" type="text" id="roepnaam" name="roepnaam" data-bind="value: roepnaam" />
	</div>
	<div class="form-group">
		<label for="tussenvoegsel">Tussenvoegsel</label>
		<input class="form-control" type="text" id="tussenvoegsel" name="tussenvoegsel" data-bind="value: tussenvoegsel" />
	</div>
	<div class="form-group">
		<label for="achternaam">Achternaam</label>
		<input class="form-control" type="text" id="achternaam" name="achternaam"data-bind="value: achternaam"  />
	</div>
	<div class="form-group">
		<label for="bsn">Bsn</label>
		<input class="form-control" type="text" id="bsn" name="bsn" data-bind="value: bsn" />
	</div>
	<div class="form-group">
		<label for="geboorteDatum">Geboortedatum</label>
		<input class="form-control" type="text" id="geboorteDatum" name="geboorteDatum" data-bind="value: geboorteDatum, event: {blur: veranderDatum(geboorteDatum)}" />
	</div>
	<div class="form-group">
		<label for="overlijdensdatum">Overlijdensdatum</label>
		<input class="form-control" type="text" id="overlijdensdatum" name="overlijdensdatum" data-bind="value: overlijdensdatum, event: {blur: veranderDatum(overlijdensdatum)}" />
	</div>
	<div class="form-group">
		<label for="geslacht">Geslacht</label>
		<select id="geslacht" id="geslacht" name="geslacht" data-bind="value: geslacht">
			<option value="Man">Man</option>
			<option value="Vrouw">Vrouw</option>
		</select>
	</div>
	<div class="form-group">
		<label for="burgerlijkeStaat">Burgerlijke staat</label>
		<select id="burgerlijkeStaat" name="burgerlijkeStaat" data-bind="value: burgerlijkeStaat">
			<option value="Ongehuwd">Ongehuwd</option>
			<option value="Gehuwd GVG">Gehuwd GVG</option>
			<option value="Gehuwd HV">Gehuwd HV</option>
			<option value="Thuiswonend">Thuiswonend</option>
			<option value="Samenwonend">Samenwonend</option>
			<option value="Samenlevingscontract">Samenlevingscontract</option>
		</select>
	</div>
    <div class="form-group">
        <label for="emailadres">E-mailadres</label>
        <input class="form-control" type="text" id="emailadres" name="emailadres" data-bind="value: identificatie" />
    </div>
    <div class="form-group">
        <label>&nbsp;</label>
        <a href="mailto:" data-bind="attr: {href: 'mailto:' + identificatie()}, text: identificatie"></a>
    </div>
</div>
<!--span class="glyphicon glyphicon-plus" onclick="$('#dlg').puidialog('show');"></span-->
<!--div id="relaties" data-bind="foreach: onderlingeRelaties, visible: onderlingeRelaties().length > 0">
	<input type="hidden" id="telefoonid" data-bind="value: id" /-->
	<!--a onclick="document.location.hash='#beherenRelatie/'"-->
	<!--span class="user-box-name" data-bind="text: metWie, click: $root.userClick" style="cursor:pointer;"></span>
	<span data-bind="text: soort"></span>
	<br /-->
<!--/div-->
<!--div id="dlg" title="Zoek een relatie">  
    <input class="form-control" type="text" id="zoekRelatie" />
    <select id="soortRelatie" >
		<option value="">Selecteer een optie...</option>
		<option value="O">Ouder</option>
		<option value="K">Kind</option>
		<option value="W">Werknemer</option>
		<option value="WG">Werkgever</option>
    </select>
    <div id="lijstRelaties"></div>
</div-->

<div class="persoonsgegevens_rechts">
    <div class="form-group">
        <h3>
            Adresgegevens
        </h3>
        &nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: voegAdresToe" id="voegAdresToe"></span>
    </div>
    <div id="adressen" data-bind="foreach: adressen, visible: adressen().length > 0">
        <div class="persoonsgegevens_details">
            <div class="form-group">
                <label for="soortadres">Soort</label>
                <select id="soortadres" name="soortadres" data-bind="value: soortAdres">
                    <option value="WOONADRES">Woonadres</option>
                    <option value="POSTADRES">Postadres</option>
                    <option value="RISICOADRES">Risicoadres</option>
                    <option value="FACTUURADRES">Factuuradres</option>
                </select>
            </div>
            &nbsp;<span class="glyphicon glyphicon-minus" data-bind="click: $parent.verwijderAdres"></span>

            <div class="form-group">
                <label for="postcode">Postcode</label>
                <input class="form-control" type="text" id="postcode" name="postcode"
                       data-bind="value: postcode, event: {blur: $parent.opzoekenAdres}"/>
            </div>
            <div class="form-group">
                <label for="huisnummer">Huisnummer</label>
                <input class="form-control" type="text" id="huisnummer" name="huisnummer"
                       data-bind="value: huisnummer, event: {blur: $parent.opzoekenAdres}"/>
            </div>
            <div class="form-group">
                <label for="toevoeging">Toevoeging</label>
                <input class="form-control" type="text" id="toevoeging" name="toevoeging" data-bind="value: toevoeging"/>
            </div>
            <div class="form-group">
                <label for="straat">Straat</label>
                <input class="form-control" type="text" id="straat" name="straat" data-bind="value: straat"/>
            </div>
            <div class="form-group">
                <label for="plaats">Plaats</label>
                <input class="form-control" type="text" id="plaats" name="plaats" data-bind="value: plaats"/>
            </div>
        </div>
    </div>
</div>

<div class="persoonsgegevens_links">
    <div class="form-group">
        <strong>Rekeninggegevens</strong>&nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: voegRekeningToe" id="voegRekeningToe"></span>
        <div id="rekeningnummers" data-bind="foreach: rekeningnummers, visible: rekeningnummers().length > 0">
            <div class="persoonsgegevens_details">
                <div id="rekeningnummer">
                    <input class="form-control" type="hidden" id="rekeningid" name="rekeningid" data-bind="value: id" />
                    <div class="form-group">
                        <label for="rekeningnummer">Rekeningnummer</label>
                        <input class="form-control" type="text" id="rekeningnummer" name="rekeningnummer" data-bind="value: rekeningnummer" />
                    </div>
                    <div class="form-group">
                        <label for="bic">Bic</label>
                        <input class="form-control" type="text" id="bic" name="bic" data-bind="value: bic" />
                    </div>
                    <span class="glyphicon glyphicon-minus" data-bind="click: $parent.verwijderRekening"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="persoonsgegevens_rechts">
    <div class="form-group">
        <strong>Telefoongegevens</strong>&nbsp;<span class="glyphicon glyphicon-plus" data-bind="click: voegTelefoonNummerToe" id="voegTelefoonNummerToe"></span>
    </div>
    <div id="telefoonnummers" data-bind="foreach: telefoonnummers, visible: telefoonnummers().length > 0">
        <div class="persoonsgegevens_details">
            <div id="telefoonnummer">
                <input class="form-control" type="hidden" name="telefoonid" id="telefoonid" data-bind="value: id" />
                <div class="form-group">
                    <label for="telnummer">Telefoonnummer</label>
                    <input class="form-control" type="text" id="telnummer" name="telnummer" data-bind="value: telefoonnummer" />
                </div>
                <div class="form-group">
                    <label for="soorttelnummer">Soort</label>
                    <select id="soorttelnummer" name="soorttelnummer" data-bind="value: soort">
                        <option value="MOBIEL">Mobiel</option>
                        <option value="VAST">Prive</option>
                        <option value="WERK">Zakelijk</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="telefoonomschrijving">Omschrijving</label>
                    <textarea id="telefoonomschrijving" data-bind="value: omschrijving" class="form-control"
                              rows="3"></textarea>
                </div>
                <span class="glyphicon glyphicon-minus" data-bind="click: $parent.verwijderTelefoonNummer"></span>
            </div>
        </div>
    </div>
</div>

<form enctype="multipart/form-data" id="relatieForm">
    <input type="hidden" id="relatieId" name="relatieId" data-bind="value: id" />
    <div class="persoonsgegevens_links">
        <div class="form-group">
            <table class="table">
                <tr>
                    <th>Bijlage</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                <tbody data-bind="foreach: bijlages">
                <tr>
                    <td>
                        <span data-bind="text: omschrijvingOfBestandsNaam, attr:{id: 'tekst' + id()}, click: startEditModus"></span>

                        <div data-bind="attr:{id: 'edit' + id()}" style="display: none;">
                            <input type="text" data-bind="value: omschrijvingOfBestandsNaam"/>
                            <button data-bind="click: stopEditModus">Opslaan</button>
                            <button data-bind="click: stopEditModusAnnuleren">Annuleren</button>
                        </div>
                    </td>
                    <td><a data-bind="attr:{href: url}, title: omschrijvingOfBestandsNaam"
                           target="_blank">Download</a></td>
                    <td data-bind="click: $parent.verwijderBijlage" style="cursor:pointer;">Verwijderen</td>
                </tr>
                </tbody>
            </table>

            <div class="form-group" id="bijlage">
                <input type="file" id="bijlageFile" name="bijlageFile" data-bind="event: {change: nieuwePolisUpload}"/>
                <progress id="uploadprogress" style="display:none;"></progress>
            </div>
        </div>
    </div>
</form>

<!--div id="opmerkingenDialog" title="Opmerkingen">
	<div id="opmerkingen" data-bind="foreach: opmerkingen">
		<div data-bind="text: soort"></div>
		<span data-bind="text: medewerker" />, <span data-bind="text: tijd" /><br />
		<div data-bind="text: opmerking"></div>
	</div>
	Nieuwe opmerking:<br />
	<textarea data-bind="value: nieuweOpmerking"></textarea><br />
	<button class="btn btn-primary" data-bind="click: opmerkingOpslaan">Opslaan</button>
</div-->

<button id="opslaanRelatie" class="btn btn-primary" data-bind="click: opslaan">Opslaan</button>
<button  id="verwijderen" class="btn btn-danger" data-bind="click: verwijderenRelatie">Verwijderen</button>