<div class="top-zoek-scherm">
    <div class="zoekvelden">
        <label>Naam</label><input type="text"/>
        <label>Geboortedatum</label><input type="text"/>
        <label>Tussenvoegsel</label><input type="text"/>
        <label>Polisnummer</label><input type="text"/>
        <label>Voorletters</label><input type="text"/>
        <label>Schadenummer</label><input type="text"/>
        <label>Adres</label><input type="text"/>
        <label>Postcode</label><input type="text"/>
        <label>Woonplaats</label><input type="text"/>
        <label>Bedrijf</label><input type="checkbox"/>
    </div>
    <div class="zoekknop">
        <button>Zoeken&nbsp;<span class="fa fa-search" aria-hidden="true"/></button>
    </div>
    <div class="actiepunten">
        &nbsp;
    </div>
    <div class="clear"/>
</div>

<div class="zoek-resultaten">
    <h3>Resultaten</h3>
    <table>
        <thead>
        <tr>
            <th>Naam</th>
            <th>Voornaam</th>
            <th class="geboortedatum">Geboortedatum</th>
            <th>Adres</th>
            <th class="postcode">Postcode</th>
            <th>Plaats</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: zoekResultaat">
        <tr>
            <td data-bind="text: naam"></td>
            <td data-bind="text: voornaam"></td>
            <td data-bind="text: geboortedatum"></td>
            <td data-bind="text: adres"></td>
            <td data-bind="text: postcode"></td>
            <td data-bind="text: plaats"></td>
        </tr>
        </tbody>
    </table>
</div>